{% extends 'header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">


<body>

    <!-- Single Page Header start -->
    <div class="container-fluid page-header py-5">
        <h1 class="text-center text-white display-6">Verify OTP</h1>
        <ol class="breadcrumb justify-content-center mb-0">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active text-white">Verify OTP</li>
        </ol>
    </div>
    <!-- Single Page Header End -->


    <!-- Verify OTP Start -->
    <div class="container-fluid contact py-5">
        <div class="container py-5">
            <div class="p-5 bg-light rounded">
                <div class="row g-4">
                    <div class="col-lg-12">
                        <form action="{% url 'verify_otp' %}" method="post">
                            {% csrf_token %}
                            <input type="text" class="w-100 form-control border-0 py-3 mb-4"
                                placeholder="Enter OTP" name="otp">
                            <button class="w-100 btn form-control border-secondary py-3 bg-white text-primary "
                                type="submit">Verify OTP</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Verify OTP End -->


</body>

</html>
{% endblock %}